In [24]:
# Dependencies
import pandas as pd

In [25]:
# Load csv file
perfume_dataset = pd.read_csv("perfume.csv")

In [26]:
# Let us look at the dataset
perfume_dataset.head(4)

,brand,title,date,accords,rating_score,votes,longevity_poor,longevity_weak,longevity_moderate,longevity_long,...,notes_12,notes_13,notes_14,notes_15,notes_16,notes_17,notes_18,notes_19,notes_20,gender
0,The-Spirit-of-Dubai,Aamal The Spirit of Dubai for women and men,2017,"woody,earthy,animalic,amber,musky,balsamic",5.0,3,0,0,0,0,...,Base3Moss,Base4Agarwood (Oud),Base5Indian Oud,NaN,NaN,NaN,NaN,NaN,NaN,women
1,Ajmal,Aatifa Ajmal for women and men,2014,"fresh spicy,woody,musky,rose,amber",4.2,10,1,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,women
2,Al-Jazeera-Perfumes,AA Al-Jazeera Perfumes for women and men,0,"rose,woody,musky,oud,fruity",0.0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,women
3,Art-of-Scent-Swiss-Perfumes,aarewasser Art of Scent - Swiss Perfumes for w...,2010,"white floral,green,ozonic,fresh,animalic",0.0,1,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,women

In [32]:
# We want to only keep the rows that are of interest in a smaller dataframe. In this case they are
# brand, title, date, accords, rating_score, votes, clswinter, clsspring, clssummer, clsautumn, clsday, clsnight, and gender
frag_reduced = perfume_dataset[["brand","title", "date", "accords", "rating_score", "votes", "clswinter",
                                "clsspring", "clssummer", "clsautumn", "clsday", "clsnight", "gender"]]
frag_reduced.head()

,brand,title,date,accords,rating_score,votes,clswinter,clsspring,clssummer,clsautumn,clsday,clsnight,gender
0,The-Spirit-of-Dubai,Aamal The Spirit of Dubai for women and men,2017,"woody,earthy,animalic,amber,musky,balsamic",5.0,3,50,50,50,50,50,50,women
1,Ajmal,Aatifa Ajmal for women and men,2014,"fresh spicy,woody,musky,rose,amber",4.2,10,100,60,60,60,80,80,women
2,Al-Jazeera-Perfumes,AA Al-Jazeera Perfumes for women and men,0,"rose,woody,musky,oud,fruity",0.0,0,1,1,1,1,1,1,women
3,Art-of-Scent-Swiss-Perfumes,aarewasser Art of Scent - Swiss Perfumes for w...,2010,"white floral,green,ozonic,fresh,animalic",0.0,1,1,100,100,100,100,100,women
4,Hamidi-Oud-Perfumes,Aaliyah Hamidi Oud & Perfumes for women and men,0,"woody,warm spicy,amber,balsamic,musky",0.0,2,100,100,100,100,100,100,women

In [29]:
# First we would like to see how many fragrances there are for each gender listed
fragrance_count = frag_reduced["gender"].value_counts()
fragrance_count

women     39761
man         850
unisex      122
Name: gender, dtype: int64

In [51]:
# let us create a dataframe for these three gender counts
women_count = fragrance_count["women"]
man_count = fragrance_count["man"]
unisex = fragrance_count["unisex"]
Fragrance_Gender_Counts = pd.DataFrame({"Total Women Fragrances": [women_count],
              "Total Men Fragrances": [man_count],
             "Total Unisex Fragrances": [unisex]
             })
Fragrance_Gender_Counts

   Total Women Fragrances  Total Men Fragrances  Total Unisex Fragrances
0                   39761                   850                      122

In [44]:
# Now, we will do score analysis, and see what are the averages given for each category
total_rating_avg = frag_reduced["rating_score"].mean()
total_votes_avg = frag_reduced["votes"].mean()
total_winter_avg = frag_reduced["clswinter"].mean()
total_spring_avg = frag_reduced["clsspring"].mean()
total_summer_avg = frag_reduced["clssummer"].mean()
total_fall_avg = frag_reduced["clsautumn"].mean()
total_day_avg = frag_reduced["clsday"].mean()
total_night_avg = frag_reduced["clsnight"].mean()

In [53]:
# we will put the average results in a dataframe
Ratings_Averages = pd.DataFrame({"Total Votes Average": [total_votes_avg],
              "Total Rating Average (0-5)": [total_rating_avg],
              "Total Rating Winter Average (0-100)": [total_winter_avg],
              "Total Rating Spring Average (0-100)": [total_spring_avg],
              "Total Rating Summer Average (0-100)": [total_summer_avg],\
              "Total Rating Fall Average (0-100)": [total_fall_avg],
              "Total Rating Day Average (0-100)": [total_day_avg],
              "Total Rating Night Average (0-100)": [total_night_avg]
})
Ratings_Averages.round(2)

,Total Votes Average,Total Rating Average (0-5),Total Rating Winter Average (0-100),Total Rating Spring Average (0-100),Total Rating Summer Average (0-100),Total Rating Fall Average (0-100),Total Rating Day Average (0-100),Total Rating Night Average (0-100)
0,86.44,3.19,25.36,35.09,27.63,33.19,47.21,31.7